body {
	background-color: $bodyBG;
	color: $bodyFG;
	font-family: $bodyFONT;
	text-align: $text-align;
	margin: 0px;
	padding: 0px;
	
}
#div1, #div2 {
	display: none;
}
#div3 {
	position: absolute;
	left: 250px;
	top: 90px;
	z-index: -99;
	background-color: red;
	height: 200px;
	width: 200px;
}
#div4 {
	background-color: #000;
	height: 200px;
	width: 200px;
	margin-left: 500px;
	border-radius: 100%;
}
#p1 {
	position: relative;
	top: 50px; left: -30px;
	color: #FFF;
	font-size: 250%;
}
#p2 {
	position: relative;
	top: 50px; left: 20px;
	color: #FFF;
	font-size: 250%;
}
#p3 {
	position: relative;
	top: 80px; left: -45px;
	color: #FFF;
	font-size: 300%;
}
#p4 {
	position: relative;
	top: -30px; left: -125px;
	color: #555;
	font-size: 1000%;
	z-index: -999;
}
